<div class="d-flex">
  <div class="col-md-3">
      <p>Hi i'm</p>
      <h1 class="hero__title">
        Chikwesi Victor Alichi
      </h1>
      <p>You can call me Victor</p>
  </div>
  <div class="col-md-9">
    I am an experienced front-end engineer with over 3 years of industry experience. I have experience in the design and implementation of complex UI designs and user interactions. I am highly skilled in designing efficient and scalable front-end architecture for enterprise applications.
    I provide state-of-the-art codes and solutions which can be vetted by the type of products I have contributed to- both for Government and private organizations, home and abroad. I have experience in different web development stacks such as Java, Javascript, and Angular.
    I am self-motivated and driven, a team player, a fast-paced learner, and can work under minimum supervision. My core values are integrity, honesty, efficiency, professionalism. I also possess the right blend of skill and ability to understand project scope, deadline, and work within them to provide the best solution and achieve the expected result.
  </div>
</div>
